doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        link(rel='stylesheet', href='/public/fonts/roboto.css')
        link(rel='stylesheet', href='/public/lib-style/main.css')
        link(rel='stylesheet', href='/public/logos/logos.css')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        block head

    body
        block body