input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
input[type='color'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='datetime'],
input[type='datetime-local'],
input:not([type]),
textarea,
select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 0.1rem solid #d1d1d1;
  border-radius: .4rem;
  box-shadow: none;
  box-sizing: inherit;
  height: 3.8rem;
  padding: .6rem 1.0rem;
  width: calc(100% - 2rem);
  color: #fff;
}

input[type='email']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='url']:focus,
input[type='color']:focus,
input[type='date']:focus,
input[type='month']:focus,
input[type='week']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input:not([type]):focus,
textarea:focus,
select:focus {
  border-color: #9b4dca;
  outline: 0;
}

select {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="%23d1d1d1" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>') center right no-repeat;
}

select:focus {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="%239b4dca" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>');
}

option {
  color: black;
}

textarea {
  min-height: 6.5rem;
}

label,
legend {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: .5rem;
}

fieldset {
  border-width: 0;
  padding: 0;
}

input[type='checkbox'],
input[type='radio'] {
  display: inline;
}

fieldset,
input,
select,
textarea {
  margin-bottom: 1.5rem;
}

.label-inline {
  display: inline-block;
  font-weight: normal;
  margin-left: .5rem;
}

slider {
  margin: 60px 0 0 0%;
  width: 100%;
}

slider > input[type="range"] {
  -webkit-appearance: none;
  width: calc(100% - (93px));
  height: 10px;
  border-radius: 5px;
  background: #d7dcdf;
  outline: none;
  padding: 0;
  margin: 0;
}

slider > input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #b9b9b9;
  cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}

slider > input[type="range"]::-webkit-slider-thumb:hover {
  background: #b881d9;
}
slider > input[type="range"]:active::-webkit-slider-thumb {
  background: #b881d9;
}
slider > input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #b9b9b9;
  cursor: pointer;
  -moz-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}
slider > input[type="range"]::-moz-range-thumb:hover {
  background: #b881d9;
}
slider > input[type="range"]:active::-moz-range-thumb {
  background: #b881d9;
}
slider > input[type="range"]:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 3px #2b2b2b, 0 0 0 6px #b881d9;
}

slider > counter {
  display: inline-block;
  position: relative;
  width: 60px;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #2b2b2b;
  padding: 5px 10px;
  margin-left: 8px;
}
slider > counter:after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #2b2b2b;
  border-bottom: 7px solid transparent;
  content: '';
}

::-moz-range-track {
  background: #d7dcdf;
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}

.hyperlink {
  align-items: normal !important;
  background-color: rgba(0,0,0,0) !important;
  border-color: rgb(0, 0, 238) !important;
  border-style: none !important;
  box-sizing: content-box !important;
  cursor: pointer !important;
  display: inline !important;
  font: inherit !important;
  padding: 0 !important;
  text-align: start !important;
  text-decoration: none !important;
  text-transform: none !important;
  letter-spacing: .01em !important;
  color: #b881d9 !important;
}

.hyperlink:hover, .hyperlink:focus {
  color: #606c76 !important;
}