row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    width: 100%;
}

row column {
    display: block;
    flex: 1 1 auto;
    margin-left: 0;
    max-width: 100%;
    width: 100%;
}

@media (min-width: 40rem) {
    row {
        flex-direction: row;
        margin-left: -1.0rem;
        width: calc(100% + 2.0rem);
    }
        
    row column {
        margin-bottom: inherit;
        padding: 0 1.0rem;
    }

    row column.column-50 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    row column.column-offset-25 {
        margin-left: 25%;
    }
}

nav > section, footer > section {
    max-width: 112.0rem;
    padding: 0rem 2.0rem;
    margin: auto auto;
}

section {
  padding: 0rem 2.0rem;
}

.button,
button,
dd,
dt,
li {
  margin-bottom: 1.0rem;
}

fieldset,
input,
select,
textarea {
  margin-bottom: 1.5rem;
}

blockquote,
dl,
figure,
form,
ol,
p,
pre,
table,
ul {
  margin-bottom: 2.5rem;
}

.clearfix:after {
  clear: both;
  content: ' ';
  display: table;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}